{% extends "authenticate/base.html" %}


{% block content %}
<div class='container col-6 col-md-4 mt-5'>
    <center>
        <form method='POST'>
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="User Name" name='username'>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder='Password' name='password'>
            </div>
            <button type="submit" class="btn btn-secondary" >Login</button>
          </form>
    </center>
</div>
{% endblock %}
